{% extends "base.html" %}

{% block title %}Dish Types{% endblock title %}

{% block content %}
  {% include "includes/navigation.html" %}
  <header class="section-height-25">
  </header>
  <div class="container">
    <h1>
      Dish Type List
      <a href="{% url 'dish_manager:dishtype-create' %}" class="btn bg-gradient-secondary w-auto me-5 m-3 float-end">
        Create
      </a>
    </h1>
    <br>
    {% block search %}
      {% include "includes/search.html" %}
    {% endblock %}
    <br>
    {% if dishtype_list %}
    <table class="table">
      <tr>
        <th class="text-gradient text-primary font-weight-bolder" style="width: 30%">Name</th>
        <th class="text-gradient text-primary font-weight-bolder" style="width: 30%">Dishes in this category</th>
      </tr>
    {% for dishtype in dishtype_list %}
      <tr>
        <td><a href="{% url "dish_manager:dishtype-detail" pk=dishtype.id %} ">{{ dishtype.name }}</a></td>
        <td>{{ dishtype.dishes.count }}</td>
        <td>
          <a href="{% url 'dish_manager:dishtype-update' pk=dishtype.id %}" class="btn bg-gradient-info w-auto me-2 mb-0">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'dish_manager:dishtype-delete' pk=dishtype.id %}" class="btn bg-gradient-light w-auto me-2 mb-0">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% include "includes/pagination.html" %}
    {% else %}
      <p>There are no dish types now.</p>
    {% endif %}
  </div>
{% endblock %}

