{% extends "base.html" %}

{% block title %} {{ dish.id }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}

   <section class="py-sm-5 py-5 position-relative">

    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row pt-7">

            <div class="col-md-9 col-sm-6 col-6 mb-4">
              <h1>{{ dish.name }}</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mb-4">
              <div class="m-3">
              <a href="{% url 'dish_manager:dish-update' pk=dish.id %}" class="btn btn-sm btn-outline-info w-auto">
                Update
              </a>
              <a href="{% url 'dish_manager:dish-delete' pk=dish.id %}" class="btn btn-sm btn-outline-secondary w-auto">
                Delete
              </a>
              </div>
            </div>

          </div>
          <div class="row mb-4">
            <div class="col-auto">
              <span>Type:</span>
              <span class="h6">{{ dish.dishtype.name }}</span>
            </div>

            <div class="col-auto">
              <span>Price:</span>
              <span class="h6 text-success">{{ dish.price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="container">
  
    <div class="row pt-5">
      <div class="col-lg-12">
        <h3 class="mb-5">
          <span class="text-primary">Description:</span>
        </h3>
        <hr>
        <p>
          {{ dish.description }}
        </p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-12">
        <h3 class="mb-5">
          <span class="text-primary">Ingredients:</span>
        </h3>
        <hr>
        <ul>
          {% for ingredient in dish.ingredients.all %}
          <li>{{ ingredient.name }}</li>
          {% empty %}
          <li>No ingredients have been added to this dish yet.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="mb-5">
          <span class="text-primary">Cooks:</span>
          <div class="me-4 m-3 float-end">
            <form method="post" action="{% url 'dish_manager:dish-assign' dish_id=dish.id %}">
              {% csrf_token %}
              {% if dish not in request.user.dishes.all %}
                <button type="submit" class="btn btn-sm btn-outline-success w-auto">
                  Assign me to this dish
                </button>
              {% else %}
                <button type="submit" class="btn btn-sm btn-outline-danger w-auto">
                  Delete me from this dish
                </button>
              {% endif %}
            </form>
          </div>
        </h3>
        <hr>
        <ul>
          {% for cook in dish.cooks.all %}
          <li><a href="{{ cook.get_absolute_url }}">{{ cook.first_name }} {{ cook.last_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
{% endblock %}
