{% extends "base.html" %}

{% block title %}Ingredients{% endblock title %}

{% block content %}
  {% include "includes/navigation.html" %}
  <header class="section-height-25">
  </header>
  <div class="container">
    <h1>
      Ingredient List
      <a href="{% url 'dish_manager:ingredient-create' %}" class="btn bg-gradient-secondary w-auto me-5 m-3 float-end">
        Create
      </a>
    </h1>
    <br>
    {% block search %}
      {% include "includes/search.html" %}
    {% endblock %}
    <br>
    {% if ingredient_list %}
    <table class="table">
      <tr>
        <th class="text-gradient text-primary font-weight-bolder" style="width: 60%">Name</th>
        <th class="text-gradient text-primary font-weight-bolder" style="width: 60%">Dishes</th>
        <th class="text-gradient text-primary font-weight-bolder" style="width: 17%">Update</th>
        <th class="text-gradient text-primary font-weight-bolder" style="width: 13%">Delete</th>
      </tr>
    {% for ingredient in ingredient_list %}
      <tr>
        <td><a href="{% url "dish_manager:ingredient-detail" pk=ingredient.id %} ">{{ ingredient.name }}</a></td>
        <td>{{ ingredient.dishes.count }}</td>
        <td>
          <a href="{% url 'dish_manager:ingredient-update' pk=ingredient.id %}" class="btn bg-gradient-info w-auto me-2 mb-0">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'dish_manager:ingredient-delete' pk=ingredient.id %}" class="btn bg-gradient-light w-auto me-2 mb-0">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% include "includes/pagination.html" %}
    {% else %}
      <p>There are no ingredients in the company.</p>
    {% endif %}
  </div>
{% endblock %}
